.catalogs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalogs {
  margin: 0 20px;
  height: 1724px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalogs__item {
  outline: 3px solid rgba(0, 255, 0, 0.8);
  outline-offset: -3px;

  display: flex;
  flex-direction: column;
  height: 190px;
}
