.contacts__description {
  font-family: Oswald;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: @black-two;
  text-transform: uppercase;
}

.contacts__address {
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}
