.example {
  background-color: @grey-3;

  @media (min-width: @tablet-width) {
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    background-color: @grey-3;
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  color: @black-two;

  @media (min-width: @desktop-width) {
    background-color: @white;
  }
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @text-color;
  @media (min-width: @desktop-width) {
    width: 437px;
  }
}

.example__heading {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  text-align: center;
  color: @text-color;
}

.example__heading-info {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @black-two;
}

.example__expenses {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @black-two;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 175px;
    font-size: 20px;
    text-align: right;
    margin-top: -60px;
    padding-left: 500px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    width: 327px;
    justify-content: space-between;
  }
}

.example__toggle {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @black-two;
}

.example__aligment {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    background-color: @grey-3;
  }
}

.example__two {
  @media (min-width: @tablet-width) {
    background-color: @grey-3;
  }
}

.example__container {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
