.goods__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  text-transform: uppercase;
  color: @black-three;
}

.goods__quantity {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @text-color;
}

.goods__order {
  display: block;
  width: 280px;
  color: @white;
  background-color: @basic_green;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  padding: 7px 0;
}

.goods__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  color: @black-two;
}

.goods__catalog {
  .clear-list;
}

.goods__group {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
