.life {
  outline: 3px solid rgba(105, 0, 0, 0.8);
  outline-offset: -3px;

  background-color: @grey-3;

  @media (min-width: @tablet-width) {
    background-color: @white;
  }
}

.life__container {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -3px;
  @media (min-width: @tablet-width) {
    width: 100%;
    padding: 0%;
  }
}

.life__wrap {
  outline: 3px solid rgba(0, 105, 44, 0.8);
  outline-offset: -3px;

  @media (min-width: @tablet-width) {
    width: 708px;
  }
}

.life__grad {
  outline: 3px solid rgba(28, 0, 105, 0.8);
  outline-offset: -3px;

  @media (min-width: @tablet-width) {
    background-color: @grey-3;
  }
}
