.main-nav {
  .clear-list;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;

  text-align: center;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    width: 440px;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  a {
    color: @black-two;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;

    a {
      // color: @white;
    }
  }

}

.main-nav__toggle {
  display: none;
}

