.more__title {
  font-family: Oswald;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: @black-two;
  text-transform: uppercase;
}

.more__description {
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
}

.more__grey {
  width: 280px;
  height: 40px;
  background-color: @white-three;
}

.more_all {
  font-family: Oswald;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
}
