.page-main__title {
  font-family: Oswald;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: @black-two;
}

.page-main__description {
  width: 226px;
  font-family: Oswald;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @black-two;
}
