.product__title{
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  color: @black-three;
}

.product__order{
  width: 280px;
  color: @white;
  background-color: #68b738;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  margin: 0 auto 25px;
  padding: 7px 0;
}

.product__list{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @text-color;
}
