.programs__wrapper {
  background-color: @grey-2;

  @media (min-width: @desktop-width) {
    height: 374px;
  }
}

.programs__title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 37px;
  text-transform: uppercase;
  color: @black-two;
}

.programs__description {
  width: 227px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @black-two;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-width: 377px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    min-width: 467px;
  }
}

.programs__toggle {
  font-family: Oswald, Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: @black-two;
}

.programs {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -3px;

  .clear-list;

  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: 1220px;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
