.programs__wrapper {
  background-color: @grey-2;
}

.programs__title {
  font-family: Oswald;
  font-size: 24px;
  font-weight: normal;
  line-height: 37px;
  text-transform: uppercase;
  color: @black-two;
}

.programs__description {
  width: 227px;
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
  color: @black-two;
  margin: 0 auto
}

.programs__toggle {
  font-family: Oswald;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: @black-two;
}
