.programs__toggle{
    width: 280px;
    height: 40px;
    background-color: @leaf;
}

/* button {
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: Oswald;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }*/

.programs__list{
    list-style: none; /* Отменим точки у списка*/
}

.programs__item{
  width: 280px;
  background-color: @white-three;
}

.programs__title {
  font-family: Oswald;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: @black-two;
  text-transform: uppercase;
}
