.promo {
  background-image: url("../img/index-background-mobile.png");
  background-repeat: no-repeat;
}

.promo__title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  text-align: center;
  color: @white;
}

.promo__intro {
  font-family: Oswald, Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white;
  text-align: center;
}

.promo__toggle {
  display: block;
  width: 280px;
  background-color: @green;
  font-family: Oswald, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 3px auto 0;
  padding: 8px 0;
}
