.promo {
  outline: 3px solid rgba(105, 0, 0, 0.8);
  outline-offset: -3px;

  background-image: url("../img/index-background-mobile.png");
  background-repeat: no-repeat;

  margin: 0;

  @media (min-width: @tablet-width) {
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/index-background-mobile.png");
  }
}

.promo__title {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -3px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  text-align: center;
  color: @white;
  padding-top: 27px;
  margin: 0;
  min-width: 249px;

  @media (min-width: @tablet-width) {
    color: @black-two;
    font-size: 60px;
    line-height: 60px;
    max-width: 440px;
  }

  @media (min-width: @desktop-width) {
    color: @black-two;
  }
}

.promo__intro {
  outline: 3px solid rgba(203, 0, 0, 0.8);
  outline-offset: -3px;

  font-family: Oswald, Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    color: @black-two;
    font-size: 20px;
    line-height: 20px;
    text-align: left;

  }

  @media (min-width: @desktop-width) {
    color: @black-two;
  }
}

.promo__image {
  padding-top: 29px;

  @media (min-width: @tablet-width) {
    display: block;
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.promo__toggle {
  display: block;
  width: 280px;
  background-color: @green;
  font-family: Oswald, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 3px auto 0;
  padding: 8px 0;

  @media (min-width: @tablet-width) {
    margin: 0 117px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 190px;
  }
}

.promo__container {

  @media (min-width: @tablet-width) {
    padding-left: 117px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    padding-left: 190px;
  }
}
