.selection__name{
  font-family: Oswald;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: @black-two;
}

.selection__hidden{
  visibility: hidden;
}
/*спрятан весь скрытый текст*/

.selection__description {
  font-family: Oswald;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: @black-two;
  text-transform: uppercase;
}

.selection__item{
  font-family: Oswald;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
}

.selection__input{
  font-family: Oswald;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  text-transform: uppercase;
}
