.works__item {
  height: 54px;
  width: 199px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @text-color;

  @media (min-width: @tablet-width) {
    outline: 3px solid rgba(255, 0, 0, 0.8);
    outline-offset: -3px;
  }
}

.works__title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  color: @black-two;
  margin: 0;
}

.works__list {
  .clear-list;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;


  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 37px;
    padding-top: 32px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 0;
  }
}


.works {
  outline: 3px solid rgba(255, 0, 0, 0.8);
  outline-offset: -3px;

  margin: 0 auto;
}
