body {
  background-color: white;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

.visually-hidden{
  visibility: hidden;
}

ul {
  list-style: none;
}

h2{
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @black-two;
}

fieldset {
  border: 0 none;
}

.selection__input ::placeholder {
  font-family: Oswald;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
/* identical to box height, or 112% */

display: flex;
align-items: center;
text-transform: uppercase;

/* special_dark-grey */

color: #444444;
}
