@import "blocks/main-nav.less";
@import "blocks/products.less";
@import "blocks/programs.less";
@import "blocks/works.less";
@import "blocks/example.less";
@import "blocks/contacts.less";
@import "blocks/page-footer.less";
@import "blocks/catalogs.less";
@import "blocks/more.less";
@import "blocks/goods.less";
@import "blocks/present.less";
@import "blocks/selection.less";
@import "blocks/program-selection.less";
@import "blocks/user-contacts.less";
@import "blocks/comment.less";
@import "blocks/additionally.less";
@import "blocks/social.less";

@font-face {
  font-family: 'Oswald';
  src:
  url('../fonts/oswald-v31-latin_cyrillic-regular.woff2') format('woff2'),
  url('../fonts/oswald-v31-latin_cyrillic-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Oswald","Arial";
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
  background-color: white;
  width: 320px;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: Oswald;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  }

h2 {
  font-family: Oswald;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: @black-two;
}

p{
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}

a{
  font-family: Oswald;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: @black-two;
  text-transform: uppercase;
  text-decoration: none;
}

fieldset {
  border: 0px;
}

textarea {
  font-family: Oswald;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  text-transform: uppercase;
}

@black-two:#111111;

@white-three:#f2f2f2;

@leaf:#68b738;
